@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-btn {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s;
}

.custom-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
}
.contact-form {
  width: 50%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .contact-form {
    width: 80%;
  }
}
